<p id="notice"><%= notice %></p>
<div >
  <div id="containerIVC" style="width: 480px; height: 380px; margin: 0 auto"></div>
  <div id="containerWeight"  style="width: 480px; height: 380px; margin: 0 auto"></div>
</div>
<div>
<div id="containerF1F"  style="width: 480px; height: 380px; margin: 0 auto"></div>
<!--<div id="containerHeartRate" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="containerBloodPressure" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div> -->
<div id="containerPAP"  style="width: 480px; height: 380px; margin: 0 auto"></div>
</div>

