<p id="notice"><%= notice %></p>

<div id="containerIVC" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<!-- <div id="containerF1F" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="containerHeartRate" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="containerBloodPressure" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div> -->
<div id="containerWeight" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
